body{
    margin: 0;
    background: white;
    height:500vh;
}
@media screen and (min-width: 980px){
    body{
        background: blue;
    }
}

@media screen and (max-width: 640px){
    #navbar-container{
        height: 40px;
        width: 100vw;
        position: fixed;
        background: blueviolet;
        text-align: center;
        box-sizing: border-box;
    }

    #navbar-container_navbar{
        height: 40px;
        width: 100%;
        position: relative;
        display: inline-block;
        background-color: coral;
        box-sizing: border-box;
    }

    #navbar-container_navbar_menu{
        height: 20px;
        width: 20px;
        position: fixed;
        display: inline-block;
        top: 10px;
        left: 10px;
        z-index: 120;
    }

    .navbar-container_navbar_menu_bars{
        height: 4px;
        background-color: white;
        margin-bottom: 4px;
    }

    #navbar-container_navbar_logo{
        height: 20px;
        position: relative;
        display: inline-block;
        margin-top: 10px;
    }

    #navbar-container_navbar_logo:hover{
        content: url("./JRT_Y.svg");
    }

    #menu-active_background{
        height: 100vh;
        width: 100vw;
        background: black;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0.9;
    }

    #menu-list{
        list-style: none;
        position: absolute;
        top: 100px;
        z-index: 105;
    }

    .menu_list-item{
        color: red;
    }

    .invisible{
        display: none;
    }
}

